body {
    background-color: #575dbb;
}

a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #54BAF3;
    font-size: 8rem;
    text-align: center;
}

p {
    color: #54BAF3;
    font-size: 4rem;
    text-align: center;
}

p:hover, a:hover {
    color: white;
    transition-duration: 0.75s;
}






