* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #575dbb;
}

a {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    color: #333333;
    font-size: 8rem;
}

a::after {
    content: 'Stay Safe';
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background-image: linear-gradient(to right,
    #c23616, #192a56, #00d2d3, yellow,
    #6d214f, #2e86de, #4cd137, #e84118);
    background-clip: text;
    -webkit-background-clip: text;
}

